<style>
            /* CSS Global  */

            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            .html{
                scroll-padding-top: 200px;
                scroll-behavior: smooth;
            }

            body {
                font-family: Arial, sans-serif;
                line-height: 1.;
                background-color: rgb(234, 228, 209);
                color: black;

                background-image: url(../fie/Screenshot\ 2026-01-20\ 141628.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                background-position: center;
                
            }

            .container {
                max-width: 1200;
                margin: 180px  auto 20px;
                }

            /* Card base */
            .card {
            background-color: rgb(243, 235, 208);
            border-top: 5px solid rgb(193, 103, 39);
            border-radius: 8px;
            padding: 15px 35px;
            margin-bottom:  20px;
            box-shadow: 0 4px 10px rgb(240, 238, 237);
            
        }
            



            /* Different module colors */
        .card.module-2 {border-top: 5px solid #352e5f;}
        .card.module-3 {border-top: 5px solid #b9cc11;}
        .card.module-4 {border-top: 5px solid #2d11cc;}
        .card.module-5 {border-top: 5px solid #1bb6a7;}
        .card.module-6 {border-top: 5px solid #948bc1;}
            


            

            .note{
            font-style: italic;
            color: #000000;
            border-left: 4px solid #9f3720;
            padding-left: 10px;
            margin-top: 15px;
        }

            .note::before {
            content: "❗";
            
        }


            code {
                background-color: rgb(227, 132, 15);
                border-radius: apx;
                padding: 2px 4px;

            }

            .badge {
                color: #e2b511;
                border-radius: 99px ;
                background-color: #c53636;
                padding: 3px 8px;
                font-size: 0.8rem;
                vertical-align: middle;
            }


            /* Images (global safe defaults) */
            .imge-link img {
        width: 260;
        border-radius: 12px;
        transition: 0.3s;
            }          
            /* CSS For Group 1: Header  */
            header{
                background-color: rgb(206, 189, 181);
                padding: 20px;
                
                display: flex;
                align-items: center;
                flex-direction: column;
                box-shadow:5px 5px 5px rgb(0, 0, 0);
                
                /*fixed header*/
                position: fixed;
                top: 0;
                width: 100%;
                
            }
            h1 {
                color: rgb(255, 119, 0);
                
            }
            h2 {
                padding: 15px;
            }
            
            .list-menu ul{
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                gap: 20px;              
                justify-content: center;
                
            }
            .list-menu li{
                margin-top:30px;
            transition: transform 0.3s ease; 
            }
            
            
            .list-menu li:hover {
                margin-top:30px;
            transform: translateY(-5px);
            }            
        
            .list-menu a {
            text-decoration: none;
            color: white;
            font-weight: bold;


            /* background-color: #c055a0; */
            background:linear-gradient(135deg,rgb(240, 198, 12),rgb(255, 0, 0));  /* background:linear-gradient .ใช้สำหรับการไล่สี*/
            box-shadow: 0 4px 15px gray;
            padding: 8px 12px;
            border-radius: 6px;
        
        }
        
        .list-menu a:hover {
            background:linear-gradient(135deg,rgb(255, 0, 0),rgb(199, 112, 5));
        }
            
            
            
            
            
            
            
            /* CSS For Group 2: Card 1: Basics  */
            .position {
                display: flex;
                align-items: center;
                border:2px dashed #000000;
                margin: 15px 0;
                
                
            }
            .position.left {
                justify-content: flex-start;               
            }
            .position.center {
                justify-content: center;               
            }
            .position.right {
                justify-content: flex-end;               
            }
            
            .img_small {
                width: 100px;
                height: auto;
            }
        img {
                max-width: 100%;
                height: auto;
                }
        
        /* CSS For Group 3: Card 2: Resize & aspect  */
        .img-fixed {
            width: 260px;
            height: 160px;
            object-fit: cover;
            
        }
        
        /* CSS For Group 4: Card 3: Object fit  */
        .obj-fit-image{
            width: 800px;
            height: 200px;
            border: 1px solid black;
        }
        .obj-fit-image.contain { object-fit: contain; }
        .obj-fit-image.fill { object-fit: fill; }
        .obj-fit-image.cover { object-fit: cover; }   
        
        /* CSS For Group 5: Card 4: Image as Link  */
        .imge-link img {
        width: 260;
        border-radius: 12px;
        transition: 0.3s;
        }  
        .imge-link img:hover{
        transform: scale(1.03);
        box-shadow:0 4px 12px #58043a;
        }            
            /* CSS For Group 6: Card 5: Gallery  */
            .gallery { 
                display:grid; 
                grid-template-columns: repeat(3, 1fr); 
                gap: 12px; }
                
            .gallery img { 
                height: 120px;
                width: 100%; 
                object-fit: cover; }
            .ul1{
            background-color: rgb(218, 195, 20); 
            border-left: #dc6c04 5px solid; 
            font-size: 16px;
            padding: 5px 20px;
            }
            
            
            /* CSS For Group 7: Card 6: Responsive  */
            
            /* CSS For Group 8: Card 7: Figure & Caption + Task  */
            figure {
                margin: 20px 0 auto;
                text-align: center;
            }
            
            /* CSS For Group 9: Card 8: Local file tips  */
            .bg-img{
            background-image: url("../fie/Sun.jpg");
                
            }
            
            /* CSS For Group 10: Back to Tutorial */
            .back-link{
                color: #ffffff;
                text-decoration: none;
                background-color: rgb(246, 102, 12) ;
                display:inline-block;
                text-align: center;
                padding: 10px 24px;
                border-radius: 15px;
                box-shadow: 0 4px 12px rgb(229, 13, 13);
            }
            .back-link:hover{
                color: #000000;
                text-decoration: none;
                background-color: rgb(255, 255, 255);       
            }
            </style>